<% layout('/layouts/Boilerplate') -%>

<div class="row">
    <div class="col-6 offset-3 signup-container">
        <h1>Sign Up on Wanderlust</h1>
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" 
                id="username" 
                name="username" 
                required class="form-control" 
                aria-describedby="titleFeedback">
                <div class="valid-feedback" id="titleFeedback">Looks Good!</div>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" 
                id="password" 
                name="password" 
                required class="form-control" 
                aria-describedby="titleFeedback">
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>